.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}
.image-container img {
  width: 75%;
  margin: 0;
  transition: transform 0.3s;
  display: block;
}
.figcaption {
  text-align: center;
  padding-right: 25%;
  padding-top: 2vh;
  font-family: "Noto Sans";
  font-weight: light;
}
.image-container img:hover {
  transform: scale(1.2); /* Scale up by 10% on hover */
  cursor: pointer;
}

h1 {
  font-weight: bold;
  text-align: center;
  font-family: Garamond, serif;
  font-size: 2rem;
  padding: 5%;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
}

/* Media query for mobile devices (max-width 767px) */
@media screen and (max-width: 767px) {
  h1 {
    font-size: 1.5rem; /* Decrease font size for mobile devices */
    padding: 2%; /* Adjust padding for mobile devices */
  }
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.caption {
  text-align: center;
  font-family: Garamond, serif;
  font-size: 4vh;
}
@media (max-width: 767px) {
  /* On screens with a width of 767px or less (typical mobile width), stack the columns vertically */
  .column {
    width: 100%;
    float: none;
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.textbox-container {
  width: 100%;
  max-width: 820px;
  padding: 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.description {
  font-size: 15px;
  line-height: 2;
}

#trigger-textbox1 {
  background-color: #cfe2ff;
}

#rules-textbox1 {
  background-color: #eedaff;
}

#feedbacks-textbox1 {
  background-color: #ffd7ea;
}

#loops-textbox1 {
  background-color: #ffdcdc;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 20px;
  }

  .description {
    font-size: 14px;
  }
}
